* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu li {
    float: left;
    list-style: none;
    padding: 10px;
    border-top: 4px solid transparent;
    cursor: pointer;
    
}

.clear-left {
    clear: both;
}

.container-flex {
    display: flex;
}
section {
    padding: 46px 0;
}
.lista-roupas li {
    list-style: none;
    max-width: 30%;
}

.lista-roupas li img {
    max-width: 100%;
}

.lista-roupas li h3 {
    margin: 16px 0;
}

.lojinha {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

@media  screen and (max-width: 767px) {
    .container{
        max-width: 90%;
        
    }

    .container-flex {
        display: block;
        margin-left: 32px;
    }
    section {
        padding: 46px 0;
    }
    .lista-roupas li {
        list-style: none;
        max-width: 30%;
    }
    
    .lista-roupas li img {
        max-width: 100%;
    }
    
    .lista-roupas li h3 {
        margin: 16px 0;
    }
    .lojinha {
        display: block;
        margin-left: 32px;
    }

    header .container {
        flex-direction: column;
        
    }
    
    
}

@media screen and (min-widht: 768px) and (max-widht:1023px) {
    .container {
        max-width: 90%;
    }
    .lista-roupas li img {
        max-width: 80%;
    }
    .container-flex {
        display: flex;
    }
    
}